---
layout: layout_js
---
ruby:
  classes = JSON.parse(File.read("json_data/js_ci_sources.json"))
  plugins = JSON.parse(File.read("json_data/js_plugins.json"))

== javascript_include_tag  "https://code.jquery.com/jquery-3.1.0.min.js"

css:
  section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1040px;
  }


  .svg {
    width: 100%
  }

  .code_chunk {
    max-width: 100%;
    overflow-y: scroll;
  }

  .messaging code, .examples .code_chunk {
    display:block;
    border-left: 2px #eee solid;
    padding-left: 12px;
    margin-top: 8px;
  }

  .examples .code_chunk {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .home-header {
      display:flex; 
      justify-content: space-between;
      margin-top: 20px;
  }

  .home-header img {
      position: relative;
      top: 6px;
      margin-right: 4px;
  }

  p > code {
    background-color: #eee;
  }

  div.third_party_readme {
    padding-left: 20px;
    border-left: 2px #ddd solid;
  }


.homepage
  section
    article.home-header
      code
        | 
          <a href="/js/guides.html">Guides</a>, 
          <a href="/js/usage.html">Usage</a>, 
          <a href="/js/tutorials.html">Tutorials</a>, 
          <a href="/js/reference.html">Reference</a> & 
          <a href="/js/editor.html">Editor</a>
          <br/>Looking for <a href='/ruby'><img src='/images/rubygems_logo.svg' width=20 height=20></a>?


      code style="text-align:right;" a project from <a target="_blank" href="http://orta.io">orta therox</a>,<br>and <a target="_blank" href="https://github.com/orgs/danger/people">the Danger org contributors</a>.

  section
    article
      center
        = image_tag("/images/js/danger-logo-hero@2x.png", :id => "header", :width => 600, :height => 191)
 
    .wide-row-thin-col
      article style="padding:10px;"
        h1.vibrant What is Danger JS?

        markdown:
          Danger runs during your CI process, and gives teams the chance to automate common code review chores.

          This provides another logical step in your build, through this Danger can help lint your rote tasks in daily code review.

          You can use Danger to codify your teams norms. Leaving humans to think about harder problems.

          This happens by Danger leaving messages inside your PRs based on rules that you create with JavaScript or TypeScript.

          Over time, as rules are adhered to, the message is amended to reflect the current state of the code review.

      
      article style="padding:10px;"
        a href="/images/dangerjs-screenshot.png"
          img src="/images/dangerjs-screenshot.png" style="max-width:100%; margin-top: 70px;"

  section
    article style="padding:80px;"
      img.svg src="/images/js/after.svg"

    .wide-row-thin-col
      article style="padding:10px;"
        h1.vibrant How does it work?
        markdown:
          Danger is a NPM module that evals a `Dangerfile`. You set up a `Dangerfile` per-project. The `Dangerfile` contains a collection of home-grown rules specific to your project as a `dangerfile.js` or `dangerfile.ts`.

          Danger can be installed via NPM or Yarn. 
          
          Use `yarn add danger -D` to add it to your `package.json`.

        p You can <a href='/guides/js/getting_started.html'>integrate Danger</a> into your own project using #{ classes.map { |c| c["name"] }.join(", ") }.

        p You would then need to generate a GitHub access token, and expose that as an ENV var. Then add `yarn danger` to your CI test run.

        p The <a href='/js/guides/getting_started.html'>Getting Started</a> guide covers this in more detail.

      article.messaging style="padding:10px;"
        h1.vibrant &nbsp;
        markdown:
          
          ```js
          // Import the feedback functions
          import { message, warn, fail, markdown } from "danger"

          // Add a message to the table
          message("You have added 2 more modules to the app")

          //  Adds a warning to the table
          warn("You have not included a CHANGELOG entry.")

          // Declares a blocking 
          fail(`ESLint has failed with ${fails} fails.`)

          // Show markdown under the table:
          markdown("## New module Danger" + dangerYarnInfo)
          ```

  - example_data = YAML.load(File.read "source/js/examples.js.yml")

  section.examples
    article
      h1.vibrant What does this Look like?

    .split
      .thirty
        ul
          - for example in example_data
            li class=example["id"] data-repos=example["repos"]
              a == example["title"]

      .seventy
        .code_chunk
          - for example in example_data
            div class=example["id"]
                == syntax_highlight_js(example["code"]).strip

        ref == ""


    
  section
    article
      h1.vibrant Lots of documentation

      - all_docs = sitemap.resources.select { |r| r.data && r.data["blurb"] }.sort_by {|r| r.data && r.data["order"]}
      
      - all_docs.each_slice(3) do |docs|
        .wide-row-thin-col
          - docs.each do |doc|
            div style="flex:1; padding: 10px; max-width: 50%;"
              h3 
                a href= ("/" + doc.path) =doc.data["title"]
              p == doc.data["blurb"] + "<br/><br/><a href='/#{doc.path}'>Read more</a>"


  section
    article
      h1.vibrant Awesome plugins

    section.search_info
      article.examples
        ul
          - for plugin in plugins
            li.clickable data-key=plugin["name"] 
              a href="/js/plugins/#{plugin["name"]}.html" == plugin["name"] 

    section
      div.third_party_readme
        .plugins_search_results

javascript:
    $(function() {
      /// Generic-ish Example Highlight Code
      $(".search_info ul li").click(function(event) {
        event.preventDefault()
        
        var $this = $(this)
        $this.parent().children().removeClass("highlighted")
        $this.addClass("highlighted")
        var url = "/js/plugins/" + $(this).data("key") + "_embed.html"
        $.get(url, function(html) {
            $(".plugins_search_results").empty()
            $(".plugins_search_results").append(html)
        })
      })

      /// Generic-ish Example Highlight Code
      $("section.examples ul li").mouseover(function(event) {
        event.preventDefault()

        // Set the corresponding code
        var klass = $(this).attr("class").replace(" highlighted", "")

        // Set selection
        $(this).parent().children().removeClass("scope_code").removeClass("highlighted")
        $(this).addClass("highlighted")

        var parent = $(this).parents("section")
        // Is this selector for switching existing code samples?
        if ($(this).data("repos")) {
          $("div.code_chunk > div", parent).css("display", "none")
          $("div.code_chunk div." + klass, parent).css("display", "block")
        } else if( $(this).data("url") ) {
          $.get( $(this).data("url"), function(html) {
              $("div.code_chunk", parent).empty()
              $("div.code_chunk", parent).append(html)
          })
        }

         // Figure out the reference text
       var urls = $(this).data("repos") && $(this).data("repos").split(", ")
       var prs = "" //$(this).data("prs").split(", ")
       var toGithubLink = function(ref) {
           var branch = (ref.indexOf("#") > -1) ? ref.split("#")[1] : "master"
           var repo = ref.split("#")[0]
           return "<a href='https://github.com/" + repo + "' target='_blank'>" + repo + "</a>"
        }
        var showArray = function(array) {
          if (!array) { return false }
          if (array.length > 1) { return true }
          if (array.length == 0) { return false }
          return array[0].length > 0
        }

        // Set the reference text under the code for people to inspect
        var text = ""
        if (showArray(urls)) {
          text += "Repo: " + urls.map(toGithubLink).join(", ")
        }
        if (showArray(urls) && showArray(prs)) {
          text += "<br/>"
        }
        if (showArray(prs)) {
          text += "@see_pr "+ prs.map(toGithubLink).join(", ")
        }
        $("ref", parent).html(text)
      })

      // Set the selection to be the first
      $("section.examples ul li:first-child").trigger('mouseenter')
    });
